body{
    /* background-image: url("../images/background.jpg"); */
    background-color: silver;
}

#instruct{

    color: black;
    outline: 5px solid Black;
 
}
#para{
    width:30px;
    padding:0px;
    border:0px;
    margin:0px;
}

.crystal {
    width: 100px;
    height:100px;
    margin: 0 20px;
}